*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    
    html,body{
        width: 100%;
        height: 100%;
    }

    body{
        display:flex;
        position: absolute;
        background: url('Simple\ nightlife\ wallpaper.jpeg');
        background-size: cover;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
    }

    .wrapper{
        padding: 20px;
        border: solid wheat;
    }

    h1{
        margin-bottom: 10px;
        color: black;
        text-align: center;
    }
    .input-box input{
        position: relative;
        padding-left:10px;
        padding-right: 30px;
        width: 300px;
        height: 45px;
        margin-top: 10px;
        border: 2px solid black;
        border-radius: 30px;
        justify-content: center;
        align-items: center;
        ;
    }
    
    button{
        justify-content: center;
    }